.title {
  font-family: inherit;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.sub-text {
  font-family: inherit;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.bookshelf {
  color: black;
}
