.title {
  font-family: inherit;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.sub-text {
  font-family: inherit;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.btn {
  position: absolute;
  width: 116px;
  height: 33px;
  left: 102px;
  top: 482px;
}

.bookshelf {
  color: black;
}
